body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(rgba(255,255,0,0.5),rgba(0,0,255,0.5));
  font-size: 20px;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

}
article{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width:900px;
  flex-direction:column;
}
img{
  width:300px;
  max-width: 100%;
  margin-right:1%;
}

@media(max-width:500px){
  img{
    max-width:100%;
    width:900px;
    margin:0;
  }
  #OneImg{
    max-width:100%;
    width:900px;
    margin:0;
  }
}
